@model int

<div class="w-full max-w-xs mx-auto mb-8">
    <div class="h-1 w-full bg-gray-100 rounded-full overflow-hidden">
        <div class="h-full bg-[#F87004] transition-all duration-1000 ease-out rounded-full" 
             style="width: @(Model * 25)%"></div>
    </div>
</div>
